<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="ISO-8859-1"></meta>
<title>Busqueda de Medicacion</title>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
</link>

<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
	
</script>

<script type="text/javascript" th:src="@{/js/medication.js}"></script>

</head>

<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="container-fluid">
		<div class="row clearfix">
			<h1 class="btn btn-primary btn-md left-block">Busquedas</h1>

			<form th:action="@{/medication/buscar}" method="post"
				th:object="${patient}">
				<div class="form-group">
					<div class="col-sm-12">
					
					<input type="text" class="form-control"
								th:field="*{namePatient}" id="nombre"
								placeholder="Ingrese dato a buscar por Nombre y Apellido">
						</input>

						<div align="left">
							<button type="submit" class="btn btn-primary">Buscar</button>
							<a href="/medication/listar" class="btn btn-danger">Cancelar</a>

						</div>
						<br /> <br />
					</div>

				</div>
			</form>
			</div>
			
			<div class="row clearflix">
			<form th:action="@{/medication/buscarFecha}" method="post"
				th:object="${patient}">
				<div class="form-group">
					<div class="col-sm-12">
						<input type="date" class="form-control" th:field="*{datePatient}"
							id="fecha" placeholder="Ingrese dato a buscar por Fecha">
						</input>

						<div align="left">
							<button type="submit" class="btn btn-primary">Buscar</button>
							<a href="/medication/listar" class="btn btn-danger">Cancelar</a>
						</div>
					</div>

				</div>
			</form>

		</div>

       <div class="row clearfix">
			<form th:action="@{/medication/buscarMedico}" method="post"
				th:object="${medicalstaff}">
				<div class="form-group">
					<div class="col-sm-12">
						<select class="form-control" th:field="*{namePM}">
    					<option th:each="med: ${listaPersonalMedicos}"
    							th:value="${med.namePM}"
    							th:text="${med.namePM + ' ' + med.lastnamePM}"
    							th:selected="(${med.idPM} == *{idPM})">
    							</option>
    					</select>
						
						
						<div align="left">
							<button type="submit" class="btn btn-primary">Buscar</button>
							<a href="/feeding/listar" class="btn btn-danger">Cancelar</a>

						</div>
						<br /> <br />
					</div>

				</div>
			</form>
			
			</div>

             <div class="row clearfix">
			<form th:action="@{/medication/buscarStatus}" method="post"
				th:object="${medicinestatus}">
				<div class="form-group">
					<div class="col-sm-12">
						<select class="form-control" th:field="*{nameEDLMA}">
    					<option th:each="est: ${listaEstadoMedicinas}"
    							th:value="${est.nameEDLMA}"
    							th:text="${est.nameEDLMA}"
    							>
    							</option>
    					</select>
						
						
						<div align="left">
							<button type="submit" class="btn btn-primary">Buscar</button>
							<a href="/medication/listar" class="btn btn-danger">Cancelar</a>

						</div>
						<br /> <br />
					</div>

				</div>
			</form>
			
			</div>




             <div class="row clearfix">
			<form th:action="@{/medication/buscarMedicine}" method="post"
				th:object="${medicine}">
				<div class="form-group">
					<div class="col-sm-12">
						<select class="form-control" th:field="*{nameMedicine}">
    					<option th:each="medic: ${listaMedicinas}"
    							th:value="${medic.nameMedicine}"
    							th:text="${medic.nameMedicine}"
    							>
    							</option>
    					</select>
						
						
						<div align="left">
							<button type="submit" class="btn btn-primary">Buscar</button>
							<a href="/medication/listar" class="btn btn-danger">Cancelar</a>

						</div>
						<br /> <br />
					</div>

				</div>
			</form>
			
			</div>







		<hr class="sidebar-divider">

		<table class="table table-bordered table-hover table-striped"
			id="tab_logic">
			<thead>
				<tr>
					<th class="text-center">CODIGO</th>
    				<th class="text-center">NOMBRE DE MEDICACION</th>
    				<th class="text-center">FECHA DE MEDICACION</th>
    				<th class="text-center">ESTADO DE MEDICACION</th>
    				<th class="text-center">PERSONAL MEDICO</th>
    				<th class="text-center">PACIENTE</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="med: ${listaMedicaciones}">
    			    <td th:text="${med.idMedication}"></td>
    			    <td th:text="${med.medicine.nameMedicine}"></td>
    				 <td th:text="${#dates.format(med.dateMedication,'dd/MM/yyyy')}"></td>
    				 <td th:text="${med.medicinestatus.nameEDLMA}"></td>
    				 <td th:text="${med.medicalstaff.namePM + ' ' + med.medicalstaff.lastnamePM}"></td>
    				 <td th:text="${med.patient.namePatient + ' ' + med.patient.lastnamePatient}"></td>

				</tr>
			</tbody>
		</table>


		<p th:text="${mensaje}" class="form-text text-dark"></p>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
</body>

</html>