<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
	
		<meta charset="ISO-8859-1"></meta>
		<title>Medicacion</title>
		
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		
		<link 	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
				rel="stylesheet" id="bootstrap-css">
		</link>

		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script type="text/javascript" th:src="@{/js/medication.js}"></script>
				
	</head>

	<body>
    	<div th:replace="fragments/header :: header"></div>
    	<div class="container">
    	
    		<form th:action="@{/medication/registrar}" method="post" th:object="${medication}" 
    			
    			enctype="multipart/form-data">
    			<div class="form-group">
    			
    				<label for="idmedication">ID:</label> <input type="text" 
    					class="form-control" th:field="*{idMedication}"></input>
    				
    				<div class="form-group">
    				
    		
    					<label for="nombremedicamento">NOMBRE DE MEDICAMENTO:</label> <input type="text" 
    						class="form-control" th:field="*{nameMedicine}" id="nombremedicamento"></input>

						<div class="alert alert-danger" th:if="${#fields.hasErrors('nameMedication')}" 
								th:errors="*{nameMedicine}"></div>
						
						
						<label for="fechaMedicacion">FECHA MEDICACION </label> <input
							type="date" th:field="*{dateMedication}" class="form-control"
							id="fechaMedicacion"></input>

						<div class="alert alert-danger"
							th:if="${#fields.hasErrors('dateMedication')}"
							th:errors="*{dateMedication}"></div>
						
						
						
						<label for="estadomedicacion">ESTADO DE MEDICACION:</label> <input type="text" 
    						class="form-control" th:field="*{nameEDLMA}" id="estadomedicacion"></input>

						<div class="alert alert-danger" th:if="${#fields.hasErrors('nameEDLMA')}" 
								th:errors="*{nameEDLMA}"></div>
								
						
    					<label for="personalmedico">PERSONAL MEDICO:</label> <input type="text" 
    						class="form-control" th:field="*{nameTDPM}" id="personalmedico"></input>

						<div class="alert alert-danger" th:if="${#fields.hasErrors('nameTDPM')}" 
								th:errors="*{nameTDPM}"></div>
								
						
						<label for="paciente">PACIENTE:</label> <input type="text" 
    						class="form-control" th:field="*{nameTDPM}" id="paciente"></input>

						<div class="alert alert-danger" th:if="${#fields.hasErrors('namePatient')}" 
								th:errors="*{namePatient}"></div>
						
					
    				</div>
    				
    				
    			</div>
    			<button type="submit" class="btn btn-primary">Aceptar</button>
    			<a href="/medication/listar" class="btn btn-danger">Cancelar</a>
    		</form>
    	</div>
    	<div th:replace="fragments/footer :: footer"></div>
	</body>

</html>