<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
	
		<meta charset="ISO-8859-1"></meta>
		<title>Personal Medico</title>
		
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		
		<link 	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
				rel="stylesheet" id="bootstrap-css">
		</link>

		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script type="text/javascript" th:src="@{/js/medicalstaff.js}"></script>
				
	</head>

	<body>
    	<div th:replace="fragments/header :: header"></div>
    	<div class="container">
    	
    		<form th:action="@{/medicalstaff/registrar}" method="post" th:object="${medicalstaff}" 
    			
    			enctype="multipart/form-data">
    			<div class="form-group">
    			
    				<label for="idPM">ID:</label> <input type="text" 
    					class="form-control" th:field="*{idPM}"></input>
    				
    				<div class="form-group">
    				
    				
    					<label for="nombre">NOMBRE:</label> <input type="text" 
    						class="form-control" th:field="*{namePM}" id="nombre"></input>

						<div class="alert alert-danger" th:if="${#fields.hasErrors('namePM')}" 
								th:errors="*{namePM}"></div>
						
						
						
						<label for="apellido">APELLIDO:</label> <input type="text" 
    						class="form-control" th:field="*{lastnamePM}" id="apellido"></input>

						<div class="alert alert-danger" th:if="${#fields.hasErrors('lastnamePM')}" 
								th:errors="*{lastnamePM}"></div>
								
						
						
						<label for="numero">NUMERO:</label> <input type="text" 
    						class="form-control" th:field="*{numberPM}" id="numero"></input>

						<div class="alert alert-danger" th:if="${#fields.hasErrors('numberPM')}" 
								th:errors="*{numberPM}"></div>
						
										
						<label for="dni">DNI:</label> <input type="text" 
    						class="form-control" th:field="*{dniPMe}" id="dni"></input>

						<div class="alert alert-danger" th:if="${#fields.hasErrors('dniPMe')}" 
								th:errors="*{dniPMe}"></div>
						
						
						
						<label for="tipodelpersonal">TIPO DE PERSONAL :</label>
    					<select class="form-control" th:field="*{typemedical.idTDPM}">
    					<option th:each="tipop: ${listaTipoPersonalMedico}"
    							th:value="${tipop.idTDPM}"
    							th:text="${tipop.nameTDPM}"
    							>
    							</option>
 
    					</select>
						
								
    				</div>
    				
    				
    			</div>
    			<button type="submit" class="btn btn-primary">Aceptar</button>
    			<a href="/medicalstaff/listar" class="btn btn-danger">Cancelar</a>
    		</form>
    	</div>
    	<div th:replace="fragments/footer :: footer"></div>
	</body>

</html>