<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
	
		<meta charset="ISO-8859-1"></meta>
		<title>Paciente</title>
		
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		
		<link 	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
				rel="stylesheet" id="bootstrap-css">
		</link>

		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script type="text/javascript" th:src="@{/js/patient.js}"></script>
				
	</head>

	<body>
    	<div th:replace="fragments/header :: header"></div>
    	<div class="container">
    	
    		<form th:action="@{/patient/registrar}" method="post" th:object="${patient}" 
    			
    			enctype="multipart/form-data">
    			<div class="form-group">
    			
    				<label for="idpatient">ID:</label> <input type="text" 
    					class="form-control" th:field="*{idpatient}"></input>
    				
    				<div class="form-group">
    				
    				
    				
    				
    					<label for="nombre">NOMBRE:</label> <input type="text" 
    						class="form-control" th:field="*{namePatient}" id="nombre"></input>

						<div class="alert alert-danger" th:if="${#fields.hasErrors('namePatient')}" 
								th:errors="*{namePatient}"></div>
						
						
						
						
						<label for="apellido">APELLIDO:</label> <input type="text" 
    						class="form-control" th:field="*{lastnamePatient}" id="apellido"></input>

						<div class="alert alert-danger" th:if="${#fields.hasErrors('lastnamePatient')}" 
								th:errors="*{lastnamePatient}"></div>
								
						
						
						
						<label for="dni">DNI:</label> <input type="text" 
    						class="form-control" th:field="*{dniPatient}" id="dni"></input>

						<div class="alert alert-danger" th:if="${#fields.hasErrors('dniPatient')}" 
								th:errors="*{dniPatient}"></div>
										
						
						
						
						<label for="edad">EDAD:</label> <input type="text" 
    						class="form-control" th:field="*{agePatient}" id="edad"></input>

						<div class="alert alert-danger" th:if="${#fields.hasErrors('agePatient')}" 
								th:errors="*{agePatient}"></div>
						
										
						
						
						<label for="edad">EDAD:</label> <input type="text" 
    						class="form-control" th:field="*{agePatient}" id="edad"></input>

						<div class="alert alert-danger" th:if="${#fields.hasErrors('agePatient')}" 
								th:errors="*{agePatient}"></div>
						
										
						
						
						<label for="ncama"># DE CAMA:</label> <input type="text" 
    						class="form-control" th:field="*{bednumberPatient}" id="ncama"></input>

						<div class="alert alert-danger" th:if="${#fields.hasErrors('bednumberPatient')}" 
								th:errors="*{bednumberPatient}"></div>
								
						
						
						
						<label for="fechaIngreso">FECHA DE INGRESO:</label> <input
							type="date" th:field="*{datePatient}" class="form-control"
							id="fechaIngreso"></input>

						<div class="alert alert-danger"
							th:if="${#fields.hasErrors('datePatient')}"
							th:errors="*{datePatient}"></div>
						
    					
    					
    					
    				</div>
    				
    				
    				
    			</div>
    			<button type="submit" class="btn btn-primary">Aceptar</button>
    			<a href="/patient/listar" class="btn btn-danger">Cancelar</a>
    		</form>
    	</div>
    	<div th:replace="fragments/footer :: footer"></div>
	</body>

</html>